<div class="jumbotron">
  <h1 class="landing"><%= link_to 'Discover a CiDER', random_path %></h1>
  <h1 class="landing"><%= link_to 'Meet the CiDERies', cideries_path %></h1>
  <%= link_to "DrinkWise", "https://drinkwise.org.au/" %>
</div>

<% if false%>
  <%= image_tag 'discover.jpg', class: "img-fluid rounded border" %>
<% end %>