<div id="background">
</div>
<div class="jumbotron vertical-center">
  <div class="btn-group-vertical">
    <button type="button" class="landing text-dark btn btn-outline-dark btn-default-inverse m-1 rounded" style="border-color: #212529;">
      <%= link_to 'Discover a CiDER', random_path %>
    </button>
    <button type="button" class="landing text-dark btn btn-outline-dark btn-default-inverse m-1 rounded" style="border-color: #212529;">
      <%= link_to 'Meet the CiDERies', cideries_path %>
    </button>
</div>
</div>

<div class="footer pt-2">
  <h6 class="landing text-white">
    <%= link_to "DrinkWise | ", "https://drinkwise.org.au/" %>
    <%= link_to "Cider Australia", "http://www.cideraustralia.org.au/" %>
  </h6>
</div>