<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h1>SiP CiDERY+</h1>
    <h3><%= link_to 'Discover a CiDER', random_path %></h3>
    <h3><%= link_to 'Meet the CiDERies', cideries_path %></h3>
  </div>
</div>