// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.landing {
  color: var(--light);
  a:visited {
    color: inherit;
  }
}

#background {
  position: fixed;
  top: 62%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-65%);
  transform: translateX(-50%) translateY(-55%);
  background: image-url('cider-bg.jpg');
  background-size: 100vw;
  opacity: 0.5;
}

.vertical-center {
  min-height: 60vh;
  display: flex;
  align-items: end;
  justify-content: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
  a:visited {
    color: var(--light);
  }
}